<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.campMapper">

	<!-- 개별 회원정보 조회(검색) -->
	<select id="selectMemberById"
			parameterType="String"
			resultType="com.javateam.campProject.domain.MemberVO">
		SELECT * FROM USER_TBL
		 WHERE id = #{id}
	</select>
	
	<!-- 회원정보 삽입(생성) -->
	<insert id="insertMember"
			parameterType="com.javateam.campProject.domain.MemberVO">
		INSERT INTO
		       USER_TBL
		       (
					ID
				  , PW
				  , NAME
				  , GENDER
				  , EMAIL
				  , PHONE
				  , ZIP
				  , ROAD_ADDRESS
				  , JIBUN_ADDRESS
				  , DETAIL_ADDRESS
				  , BIRTHDAY
				  , JOINDATE
				  , MEMBERTYPE
				  , BUSINESSNUM
		       )
		       VALUES
		       (
		       	    #{id}
				  , #{pw}
				  , #{name}
				  , #{gender}
				  , #{email}
				  , #{phone}
				  , #{zip}
				  , #{roadAddress}
				  , #{jibunAddress}
				  , #{detailAddress}
				  , #{birthday}
		          , SYSDATE
		          , #{memberType}
		          , #{businessNum}
		       )
	</insert>

	<!-- 회원정보 중복 점검(가입) : 아이디/이메일/휴대폰 -->
	<select id="hasMemberByFld"
			parameterType="map"
			resultType="int">
		SELECT COUNT(*)
		  FROM USER_TBL
		 WHERE ${fld} = #{val}
	</select>

	<!-- 회원 롤(Role) 생성 -->
	<insert id="insertRole" parameterType="map">
		INSERT INTO
		   USER_ROLES
		   VALUES
		   (
		       USER_ROLES_SEQ.NEXTVAL
		       , #{id}
		       , #{role}
		   )
	</insert>

</mapper>