<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	  lang="ko-kr">
<head>
	<th:block th:replace="layout/header :: header-head"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑 검색</title>
    <!-- 부트 스트랩 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/5.3.3/css/bootstrap.min.css}">
    <!-- 부트 스트랩 아이콘 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchRecom.css}">

</head>
<body>
	 <!-- 헤더 포함 -->
     <th:block th:include="layout/header :: header"></th:block>
     <div class="container">



     	<!-- 검색 -->
        <h1 style="margin: 20px 0;">캠핑장 검색&추천</h1>
        <div id="searchForm">
		    <label for="campName"></label>
		    <div id="searchMenu">
		    	<input type="text" id="campName" name="campName" placeholder="캠핑장 이름을 입력하세요" required>
		    	<button type="button" id="sendBtn">검색</button>
		    </div>
		</div>


	    <!-- 버튼 영역 -->
        <div class="button-container">

		    <a href="javascript:void(0);" id="searchCamping" class="searchCamps">
		        <img th:src="@{/img/camp.png}" alt="일반야영장" style="width: 100px; height: auto;">
		    </a>

		    <a href="javascript:void(0);" id="searchGlamping" class="searchCamps">
		        <img th:src="@{/img/glamping.png}" alt="글램핑" style="width: 100px; height: auto;">
		    </a>

		    <a href="javascript:void(0);" id="searchCaraban" class="searchCamps">
		        <img th:src="@{/img/caraban.png}" alt="카라반" style="width: 100px; height: auto;">
		    </a>

		    <a href="javascript:void(0);" id="searchCar" class="searchCamps">
		        <img th:src="@{/img/car.png}" alt="자동차야영장" style="width: 100px; height: auto;">
		    </a>
		</div>
		<!-- // 검색 -->

		<!-- 추천 -->
		<div id="recomMenu">

        	<form id="recomForm">

        		<div>

					<label for="time" class="form-label"></label>
  					<input type="date" class="form-control" id="time" name="time" /><br>

					<input type="text" id="destination" name="destination" placeholder="해당 지역을 입력하십시오. 예) 평택" /><br>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isElectricity" name="isElectricity"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isElectricity">전기 시설</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isWifi" name="isWifi"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isWifi">인터넷</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isCampfire" name="isCampfire"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isCampfire">캠프파이어</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isHeater" name="isHeater"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isHeater">온수시설</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isPool" name="isPool"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isPool">풀장</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isPlayground" name="isPlayground"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isPlayground">운동장</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isSink" name="isSink"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isSink">주방시설</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isTrail" name="isTrail"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isTrail">산책시설</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isMaritimeLeisure" name="isMaritimeLeisure"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isMaritimeLeisure">수상레저</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="isFishing" name="isFishing"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="isFishing">낚시</label>

					<input type="checkbox" class="btn-check" autocomplete="off" id="petYn" name="petYn"  value="0" onclick="parseCheck(this)" />
					<label class="btn btn-outline-primary" for="petYn">펫 동반</label>

			    	<button type="button" id="recomBtn">검색</button>

		    	</div>

			</form>

		</div>

		<!-- // 추천 -->

		<!-- 페이징 상단 -->
		<div id="pagingSectionTop">
			<ul id="pagingsTop">
	 		</ul>
		</div>

		<!-- 검색 결과 -->
        <div id="results">
            <!-- 검색 결과가 이곳에 표시됩니다 -->
        </div>
        <!-- // 검색 결과 -->

        <!-- 추천 캠프 결과 리스트 -->
		<div id="resultRecom">
		</div>
		<!-- // 추천 캠프 결과 리스트 -->

        <script th:src="@{'/js/searchRecomCamp.js'}" charset="UTF-8"></script>

        <!-- 페이징 하단 -->
		<div id="pagingSectionBottom">
			<ul id="pagingsBottom">
	 		</ul>
		</div>

    </div>
</body>
</html>
