<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	  lang="ko-kr">
<head>
	<th:block th:replace="layout/header :: header-head"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캠핑 검색</title>
    <script th:src="@{'/axios/1.7.4/dist/axios.min.js'}"></script>
    <!-- 부트 스트랩 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/5.3.3/css/bootstrap.min.css}">
    <!-- 부트 스트랩 아이콘 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchCss.css}">
</head>
<body>
	<!-- 헤더 포함 -->
    <th:block th:include="layout/header :: header"></th:block>

     <div layout:fragment="content" class="container">
        <h1 style="margin: 20px 0;">캠핑장 검색</h1>
        <div id="searchForm">
		    <label for="campName"></label>
		    <div id="searchMenu">
		    	<input type="text" id="campName" name="campName" placeholder="캠핑장 이름을 입력하세요" required>
		    	<button type="button" id="sendBtn">검색</button>
		    </div>
		</div>

		   <!-- 버튼 영역 -->
        <div class="button-container">

		    <a href="javascript:void(0);" id="searchCamping" class="searchCamps">
		        <img th:src="@{/img/camp.png}" alt="일반야영장" style="width: 100px; height: auto;">
		    </a>

		    <a href="javascript:void(0);" id="searchGlamping" class="searchCamps">
		        <img th:src="@{/img/glamping.png}" alt="글램핑" style="width: 100px; height: auto;">
		    </a>

		    <a href="javascript:void(0);" id="searchCaraban" class="searchCamps">
		        <img th:src="@{/img/caraban.png}" alt="카라반" style="width: 100px; height: auto;">
		    </a>

		    <a href="javascript:void(0);" id="searchCar" class="searchCamps">
		        <img th:src="@{/img/car.png}" alt="자동차야영장" style="width: 100px; height: auto;">
		    </a>
		</div>

		<!-- 페이징 상단 -->
		<div id="pagingSectionTop">
			<ul id="pagingsTop">
	 		</ul>
		</div>

        <div id="results">
            <!-- 검색 결과가 이곳에 표시됩니다 -->
        </div>

         <script th:src="@{'/js/searchCamp.js'}" charset="UTF-8"></script>

        <!-- 페이징 하단 -->
		<div id="pagingSectionBottom">
			<ul id="pagingsBottom">
	 		</ul>
		</div>

    </div>
</body>
</html>
