<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" lang="ko-kr">
<head>
<head>
<meta charset="UTF-8">
<title>문의 게시글 보기</title>

<style>
#reply_write_form {
 resize:none;
 height:5em;
 width:100%;
}
</style>

<!-- bootstrap icons -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css}">

<!-- 댓글 전송용  -->
<!-- AJAX library axios -->
<script th:src="@{'/axios/1.7.4/dist/axios.min.js'}"></script>

<!-- 코드 다량 발생 → 별도 파일화 -->
<script th:src="@{'/js/board_view.js'}"></script>

<!-- 댓글 제어 -->
<script>
window.onload = () => {

	// 개별글 로딩시 지금까지 집계된 댓글들 읽어오기
	let boardNum = '[[${board.boardNum}]]';

	// 전체 댓글 로딩(불러오기) : board_view.js 파일로 함수 분리
	// getAllReplies(boardNum);
	// 댓글 수정 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정) : 인자 추가
	getAllReplies(boardNum, '[[${#authentication.name}]]');

	/* ***************************************************************************** */

	// 댓글 작성 함수 : board_view.js 파일로 함수 분리
 	writeReply(boardNum, '[[${#authentication.name}]]');

	// 댓글 수정 함수 : 댓글 수정 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정)
	// updateReply(boardNum, '[[${#authentication.name}]]');

	// 댓글 삭제 함수 : 댓글 삭제 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정)
	// deleteReplies(boardNum, '[[${#authentication.name}]]');

	// (원)글 삭제 함수
	deleteBoard(boardNum, '[[${#authentication.name}]]');

} // onload
</script>
</head>
<body>
	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div>
			<!-- 인자 & (security) 세션 -->
			<div th:text="${#authentication}"></div>
			<hr>

			<div th:text="${session.user}"></div>
			<hr>
		</div>
		
		<div class="content_sect_pnl">

			<h2 class="d-flex justify-content-center">게시글 보기</h2>

			<table class="table mx-auto mt-4" style="width: 800px;">
		
				<tr>
					<th scope="col">번호</th>
					<td th:utext="${board.boardNum}"></td>
				</tr>
		
				<tr>
					<th scope="col">제목</th>
					<td th:utext="${board.boardSubject}"></td>
				</tr>
				
				<tr>
					<th scope="col">작성자</th>
					<td th:utext="${board.boardWriter}"></td>
				</tr>
				
				<tr>
					<th scope="col">내용</th>
					<td>
						<div id="boardContentDiv" th:utext="${board.boardContent}" contenteditable="false"></div>
					</td>
				</tr>
				
				<tr>
					<th scope="col">첨부파일</th>
					<td>
						<span th:if="${#strings.isEmpty(board.boardFile)}">첨부 파일 없음</span>

						<a th:href="@{'/board/download/'+${board.boardOriginalFile}+'/'+${board.boardFile}}"
						   th:if="${!#strings.isEmpty(board.boardOriginalFile)}"
						   th:utext="${board.boardOriginalFile}"></a>
					</td>
				</tr>
				
				<tr>
					<th scope="col">등록일</th>
					<td th:utext="${#dates.format(board.boardDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>

			</table>
			
			<!-- 댓글 영역  -->
			<!-- <div id="reply_pnl" class="mx-auto my-3 border border-top border-primary-subtle" style="width: 800px;"> -->

			<div id="reply_pnl" class="mx-auto my-3" style="width: 800px;">

				<!-- 개별 게시글 전체 댓글 리스트 -->
				<div id="reply_list_pnl" class="bg-light my-3">
				 	<!-- 댓글 리스트 -->
				</div>

				<!-- 댓글 등록/수정 -->
				<div id="reply_write_update_pnl" class="my-3">

					<textarea id="reply_write_form" name="reply_write_form"
							  class="form-control border border-primary"
							  placeholder="댓글을  100자이내로 작성하십시오"></textarea>

				</div>
				
				<!-- 댓글 메뉴 -->
				<!-- 정렬 교정 -->
				<div class="d-flex justify-content-end align-items-center my-2">
					
					<!-- 댓글 메뉴 -->
					<a href="#" th:id="${'reply_write_btn_' + board.boardNum}" class="btn btn-sm btn-outline-primary my-2 me-2">댓글 등록</a>

				</div>

			</div>
			<!--// 댓글 영역  -->
			
			<div class="d-flex justify-content-center mb-3">
				<a type="button" class="btn btn-primary" th:href="@{/board/inquiryBoardList}">게시글 목록</a>
				&nbsp;
				
				<!-- 글수정 링크 추가 -->
				<!-- 글 작성자만 글수정/삭제하도록 조건 처리 -->
				<!-- 자체 로그인일 경우 -->
				<span th:if="${session.user == null && board.boardWriter == #authentication.name}">

					<a type="button" class="btn btn-primary"
						th:href="@{'/board/inquiryBoardUpdate?boardNum='+${board.boardNum}}">글수정</a>

					<!-- (원)글삭제 링크 추가 -->
					<a type="button" class="btn btn-primary ms-2"
					    th:id="${'board_delete_btn_' + board.boardNum}"
						href="#">글삭제</a>

				</span>
				
				<!-- Naver & Google 로그인일 경우 -->
				<span th:if="${session.user != null && board.boardWriter == session.user.name}">

					<a type="button" class="btn btn-primary"
						th:href="@{'/board/inquiryBoardUpdate?boardNum='+${board.boardNum}}">글수정</a>

					<!-- (원)글삭제 링크 추가 -->
					<a type="button" class="btn btn-primary ms-2"
					    th:id="${'board_delete_btn_' + board.boardNum}"
						href="#">글삭제</a>
				</span>
				<!--// 글 작성자만 글수정/삭제하도록 조건 처리 -->
			</div>

		</div>
		<!--// content -->

	</div>
	<!--// layout -->
</body>
</html>