body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;             /* Flexbox를 사용하여 수평 배열 */
    justify-content: space-around;   /* 가로 간격 정렬 */
    align-items: center;       /* 세로 중앙 정렬 */
    margin-top: 20px;          /* 위쪽 여백 */
    width: 70%;
    margin: auto;
}

.button-container a {
	text-decoration: none;
}

.search-image {
    width: 200px;              /* 이미지 크기 지정 */
    height: auto;              /* 자동 비율 유지 */
    cursor: pointer;          /* 이미지 클릭 시 포인터 커서 */
    transition: transform 0.3s ease; /* 호버 시 효과 */
}

.search-image:hover {
    transform: scale(1.1);     /* 호버 시 이미지 크기 증가 */
}

/* 페이징 */
[id^=pagingSection] {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

[id^=pagingSection] ul {
	list-style-type: none;
	width: 500px;
	display: flex;
	flex-direction: row;
}

[id^=pagingSection] ul li {
	margin: 0 10px;
}

[id^=pagingSection] ul li a {
	text-decoration: none;
	font-size: 2em;
}

#results {
	min-width:500px;
}

#recomMenu {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 300px;
	justify-content: center;
}

#campName {
	min-width: 300px;
	width: 70%;
	margin-right: 20px;
	height: 50px;
}

#sendBtn {
	width: 100px;
	height: 50px;
}

#recomForm {
	background-color: #C8EBFA;
	padding: 20px;
	margin: 30px;
}

#recomBtn {
	width: 100px;
	height: 40px;
	margin-left: 20px;
}

#destination {
	width: 100%;
}