<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <title>[[${headerName}]]</title>

<script type="text/javascript">

	var naverLoginPopup;

	function openPopUp() {
		let maxX = screen.availWidth;
		let maxY = screen.availHeight;

		console.log("maxX = ", maxX, ", maxY = ", maxY);

		naverLoginPopup = window.open("https://nid.naver.com/nidlogin.logout", "_blank",
									  "toolbar=0,scrollbars=0,resizable=0,toolbar=0,location=0," +
									  "status=0,menubar=0,width=1,height=1," + 'left=${maxX}, top=${maxY}');
	}

	function naverLogout() {
		console.log("naverLogout()");
		openPopUp();

		setTimeout(function() {

			naverLoginPopup.close();
			alert("로그아웃 되었습니다");
			location.href = "/campProject/logoutProc";

		}, 1000); <!-- 1초 후에 팝업을 닫고 로그아웃  -->
	}

</script>
<body>
</head>

<header th:fragment="header">
    <nav>
        <ul>
            <li><a href="/" th:href="@{/}">홈</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login" th:href="@{/loginForm}">로그인</a></li>
            <!-- TODO 권한별 마이페이지로 이동하게 수정 -->
            <li sec:authorize="isAuthenticated()"><a href="/board/inquiryBoardList" th:href="@{/board/inquiryBoardList}">문의게시판</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/myPageModification" th:href="@{/myPageModification}">마이페이지</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/userManagement" th:href="@{/userManagement}">유저 관리</a></li>
			<li sec:authorize="isAuthenticated()">
			    <span th:if="${session.socialUser == null}">
			        <form th:action="@{/logout}" method="post" style="display: inline;">
			            <button type="submit">로그아웃(자체)</button>
			        </form>
			    </span>
			    <span th:if="${session.socialUser != null}">
			        <span th:if="${session.socialUser.authVendor != 'naver'}">
			            <form th:action="@{/logout}" method="post" style="display: inline;">
			                <button type="submit">로그아웃(Google)</button>
			            </form>
			        </span>
			        <span th:if="${session.socialUser.authVendor == 'naver'}">
			            <a href="#" onclick="naverLogout()">로그아웃(Naver)</a>
			        </span>
			    </span>
			</li>
        </ul>
    </nav>
</header>

</body>
</html>